@media all and (max-width:768px){
  
#footer .footer-desc{
    border-top: 1px solid #5f003f;
    border-bottom: 1px solid #5f003f;
    border-left: 0;
    border-right: 0;
}
.f-flex {
   display:block

}
.f-flex .col-md-3 {
    max-width: 100%;
    padding: 0 18px;
}
.logo{
    
    padding: 12px 12px 0 12px;
    
}
#navbar{
    
    height: 280px;
    
}
#navbar ul{
    
   width: 100%;
   
   margin: 0 0 0 12px;
   
   
}
#navbar ul li{
    display: block;
    
}

}   